<div class="container-fluid">
	<div class="bottom">
		<div class="col-sm-3">
			<formly-form [model]="pagemodel" [fields]="pagefields" [options]="optionss" [form]="forms"></formly-form>
		</div>
	</div>
	<form [formGroup]="form" (ngSubmit)="submit()">

		<div class="bottom">
			<formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
			<div class="col-sm-2 ml-auto m-2">
				<button type="submit" class="btn btn-primary submit-button m-1">Submit</button>
				<button type="button" class="btn btn-default m-1" (click)="options.resetModel()">Reset</button>
			</div>
		</div>
	</form>

	<div class="row">
		<div class="col-sm-12">
			<ag-grid-angular style="width: 100%; height: 100px;" class="ag-theme-alpine-dark"
				(firstDataRendered)="onFirstDataRendered($event)" [rowData]="rowData" [columnDefs]="columnDefs">
			</ag-grid-angular>
		</div>
	</div>
	<!-- <pre>Form Data {{this.model | json}} </pre> -->
</div>